.animation{
    animation-duration: 1s;
    animation-name: string;
    animation-delay: 1s;
    animation-iteration-count: 20;
}
.string{

    
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    background-color: aqua;
}
.img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background-color: aquamarine;
}
.Head{
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(src/head.jpeg);

}
.Tails{
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(src/tail.jpeg);
}
@keyframes string{
    0%{
        
        opacity: 20%;
    }
    100%{
        
        opacity: 100%;
    }
}